@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

:root {
    --fuente-principal: "Press Start 2P", system-ui;
    --fuente-secundaria: "IBM Plex Mono";
    --color1:#03318C;
    --color2:#5d04d9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.press-start-2p-regular {
    font-family: var(--fuente-principal);
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color:#ffffff;
  }
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    padding-top: 20px;
    padding-bottom: 20px;
}
h1{
    font-family: var(--fuente-principal);
    font-weight: 400;
    font-style: normal;
   
    font-size: 24px;
    margin-bottom: 2.5em;
    text-align: center;
    
}
main{
    display:flex;
    flex-direction: column-reverse;
    margin-top: 2.5em;
    align-items: center;
    gap:3em;
}

.section-productos{
  font-family: var(--fuente-secundaria);
  font-size: 15px;
  overflow-y: scroll; /* Agrega barra de desplazamiento vertical */
  height: 50vw;
}

.delete-button{
    background-color: var(--color2);
    border-color: var(--color1);
  
}


.section-formulario .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /*width: 26.875em;
    height: 32.3125em;
    */

}
.products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
   
}
.card-container{
    margin-bottom: 2em;
    border-width: 0.25em;
    border-style: solid;
    border-radius: 1em;
    background-color: var(--color2);
    padding: 0.5em;
   
}

.card-container--value{
    font-size: 16px;
    font-weight: bold;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-container{
    width: 192px; /* Ancho del  card */
    height: 258px; /* Alto del card */
   
    display: flex;
    justify-content: center;
  
}
.img-container img{
   
  
    border-width: 0.125em;
    border-style: solid;
    border-radius: 1em;
    overflow: hidden; /* Asegura que la imagen no sobresalga del borde */
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    object-fit: cover;
}

input[type="text"]{
    border-radius: 1.875em;
    border-color: var(--color1);
    border-style: solid;
    border-width: 0.250em;
    width: 21.875em;
    height: 3.625em;
    margin-bottom: 2.5em;
    padding-left: 1em;
    font-family: var(--fuente-secundaria);
    font-weight: 300;
    font-size:16px ;
    
   
}
.botones{
    display: flex;
    gap:1em;
}
#enviar{
    background-color: var(--color1);
    border-color: var(--color1);
    border-radius: 0.9375em;
    border-style: solid;
    border-width: 0.250em;
    width: 8em;
    height: 3.4375em;
    color:#ffffff;
    font-family: var(--fuente-secundaria);
    font-weight: 300;
    font-size:20px ;
}
#borrar{
    background-color: #ffffff;
    border-color: var(--color1);
    border-radius: 0.9375em;
    border-style: solid;
    border-width: 0.250em;
    width: 8em;
    height: 3.4375em;
    color:var(--color1);
    font-family: var(--fuente-secundaria);
    font-weight: 300;
    font-size:20px ;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
  
   
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    padding-top: 30px;
    gap:0.4em;
    
}
.desarrollado{
    font-size: 16px;
    font-weight: 400;
    color:#ffffff;
    font-family: var(--fuente-secundaria);

}
.anio{
    font-size: 16px;
    font-weight: lighter;
    color:#ffffff;
    font-family: var(--fuente-secundaria);
    padding-bottom: 1em;
}

@media (min-width: 768px){
    main{
        display:flex;
        flex-direction: row;
        margin-top: 2.5em;
        align-items:start;
        justify-content: center;
        gap:3em;
        padding-right: 1em;
    }
 
    
}
